<div class="container">
    <app-count-empleados (radioButton)="funcionPadre($event)" [masculino]="cantidad(1)" [femenino]="cantidad(0)"></app-count-empleados>
    <div class="card mt-3">
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Genero</th>
                <th scope="col">Salario</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let empleado of empleados, let indice = index">
                    <tr *ngIf="generoSelected === 'Todos' || empleado.genero === generoSelected">
                        <th scope="row">{{indice+1}}</th>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.genero}}</td>
                        <td>{{empleado.salario}}</td>
                      </tr>
                </ng-container>
              
            </tbody>
          </table>
    </div>
</div>
</div>